/*.montserrat,.montserrat *{
    font-family: 'Montserrat',sans-serif !important;
}
.jura,.jura *{
    font-family: 'Jura',sans-serif !important;
}*/
body{
    background-color: #202040;
    color: white;
}
.main-nav{
    height: 80px;
    background-color: #1b1b2f !important;
    color: white !important;
}
.image-operation-card .card{
    height: 200px;
    padding-top: 80px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6, .worksans, .worksans * {
    font-family: 'Work Sans', sans-serif !important;
}

.image-preview,.btn-image-previews,.btn-image-preview{
    display: block !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 4px !important;
    border: 1px solid #ebebeb !important;
    background-color:#eeeeee !important;
    box-shadow: none !important;
}
label.btn-image-preview{
    line-height: 100px !important;
    text-align:center;
    font-size:48px !important;
}
.btn-image-previews{
    line-height: 100px !important;
    text-align:center;
    font-size:48px !important;
    background-color:#1d0e1d !important;
}
.remove_image{
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    cursor: pointer;
}

.img-list-work .card{
    height: 300px;
    background-color: #eeeeee;
}
#image-viewver{
    display:table-cell;
    position: fixed;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.9);
    z-index: 1222;
    text-align: center;
}

img:not(.viewver){
    cursor: -moz-zoom-in;
    cursor:zoom-in;
}