{% extends 'base.html' %}

{% block content %}
<br />
<br />
    <div class="container">
        <h3>Welcome to convolution</h3>
        <hr />
        <form class="" id="form_make_convolution" enctype="multipart/form-data"  method="post" action="{% url 'imageprocess:pconvolution' %}">
        {% csrf_token %}
        <div class="row">
        </div>
        <div class="row img-list-work">
            <div class="col-4">
                <h4>Preview</h4>
                <div class="card border-0 shadow-lg" id="img_preview">
                    
                </div>
                <label>upload image</label>
                <input type="file" name="imguploaded"  class="form-control form-control-file" onChange="showPreview(this,'#img_preview')" />
            </div>
            <div class="col-4">
                <h4>Masque de convolution</h4>
                
                <div class="card border-0 shadow-lg" id="img_preview">
                <textarea required="required" class="form-control form-control-lg" id="kernel" name="convolution_matrix" placeholder="Enter the convolution mask" style="height: 100% !important;"></textarea>    
                </div>
                
            </div>
            <div class="col-3">
                <h6>Charger des filtres par defaut</h6>
                <button type="button" class="btn btn-primary text-white sober-horizontal filtre" data-kernel="-1 -2 -1\n0 0 0\n-1 -2 -1">Sober-X</button> 
                <button type="button" class="btn btn-primary text-white filtre-constrate filtre" data-kernel="-1 -2 -1\n0 0 0\n-1 -2 -1">Constraste</button><br /><br /> 
                <button type="button" class="btn btn-primary text-white sober-vertical filtre">Sober-Y</button>
                <button type="button" class="btn btn-primary text-white filtre-repoussage filtre">Repoussage</button> 
                <br /><br />
                <button type="button" class="btn btn-primary text-white filtre-moyenneur filtre">Moyenneur</button> 
                <button type="button" class="btn btn-primary text-white filtre-flou filtre">Flou</button> 
                <br /><br />
                <button type="button" class="btn btn-primary text-white filtre-prewit-x filtre">Prewitt-x</button> 
                <button type="button" class="btn btn-primary text-white filtre-gaussien filtre">Gaussien</button>
                <br /><br />
                <button type="button" class="btn btn-primary text-white filtre-prewit-y filtre">Prewitt-y</button>  
                
                <button type="button" class="btn btn-primary text-white filtre-laplacien filtre">Laplacien</button><br /><br />

            </div>
            <div class="col-12">
             <br />
             <button type="submit" class="btn btn-info rounded btn-lg second-color shadow-lg text-white">MAKE CONVOLUTION</button>
            <br />        <br />
            <h4>Result</h4>
                <div class="card border-0 shadow-lg" id="result-box">
                    
                </div>
            </div>
        </div>
       
        </form>
    </div>
{% endblock content %}