{% extends 'base.html' %}


{% block content %}
<br />
<div class="container">
    <div class="row image-operation-card">
        <div class="col-lg-3 col-12">
            <a class="nav-link" href="{% url 'imageprocess:constraste' %}">
                <div class="card shadow-lg border-0">
                    
                    <h3>CONSTRATE</h3>
                    
                </div>        
            </a>

        </div>
        <!--constrates-->

        <div class="col-lg-3 col-12">
            <a class="nav-link" href="{% url 'imageprocess:egalisation' %}">
                <div class="card shadow-lg border-0">
                    
                    <h3>EGALISATION HISTOGRAMME</h3>
                    
                </div>        
            </a>
        </div>

        <div class="col-lg-3 col-12">
            <a class="nav-link" href="{% url 'imageprocess:median' %}">
                <div class="card shadow-lg border-0">
                    
                    <h3>FILTRE MEDIAN</h3>
                    
                </div>        
            </a>
        </div>
        <div class="col-lg-3 col-12">
            <a class="nav-link" href="{% url 'imageprocess:interpolation' %}">
                <div class="card shadow-lg border-0">
                    
                    <h3>INTERPOLATION</h3>
                    
                </div>        
            </a>
        </div>
        <!-- Transformation lieneaire -->
        <div class="col-lg-6 col-12 shadow-lg">
            <h3>Basic operation</h3>
            <div class="row">
                <div class="col-lg-6 col-6 col-md col-sm">
                    <a class="nav-link" href="{% url 'imageprocess:operation' %}">
                        <div class="card shadow border-0">
                                Addition,Times,not,or
                        </div>        
                    </a>
                </div>
                
                <div class="col-lg-4 col-6 col-md col-sm">
                    <a class="nav-link" href="{% url 'imageprocess:convolution' %}">
                        <div class="card shadow border-0">
                            Convolution
                        </div>        
                    </a>
                </div>

                <div class="col-lg-4 col-6 col-md col-sm">
                    <a class="nav-link" href="">
                        <div class="card shadow border-0">
                            NON lieneaire
                        </div>        
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock content %}
